# Identity API
# Local development
VITE_IDENTITY_API_URL=https://localhost:5001/api/auth
# Production (Azure)
#VITE_IDENTITY_API_URL=https://spelvalvet-identity-api-h3grecazdfe0bwfu.swedencentral-01.azurewebsites.net/api/auth
VITE_ORDER_API_URL=https://localhost:7043
VITE_CATALOG_API_URL=https://localhost:7019
VITE_PAYMENT_API_URL=https://localhost:7082
VITE_NEWSLETTER_API_URL=http://localhost:5205
